.name-list {
    background-color: rgba(206, 212, 218, 0.7);
    border: 2px solid black;
    border-radius: 5px;
    overflow: auto;
   
}

@media only screen and (min-width: 800px) {
    .name-list {
        height: 100%;
        position: fixed;
        float: right;
        right: 0;
        top: 0;
        overflow: auto;
    }
}