.name-list {
    background-color: rgba(59, 59, 59, 0.7);
    color: whitesmoke;
    overflow: auto;   
}

@media only screen and (min-width: 800px) {
    .name-list {
        height: 100%;
        position: fixed;
        float: right;
        right: 0;
        top: 0;
        overflow: auto;
        margin-right: 15px;
    }
}