.driver {
    margin-bottom: 50px !important;
}
.driver-button {
    background-color: rgba(212, 212, 212, 0.8);
    color: black;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
}
.driver-button:hover, .driver-button:active {
    background-color: rgba(158, 158, 158, 0.8);
    color: black;
}
.driver-button:disabled {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}