.card {
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    background-color: rgba(0,0,0,0);
    color: black;
}

.card-header {
    background-color: black;
    color: rgb(233, 236, 239);
    font-size: 2rem;
}

.drivers {
    background-color: rgb(248, 249, 250);
    font-size: 1.25rem;
}